<div class="contactusPage">
<form>
  <h1> Contact Us </h1>

  <div class="input">
    <label>Username</label> 
    <input type="text" name =  "user">
  </div>
  <br>
  <div class="input">
    <label>Password</label>
    <input type = "password" name =  "password" >
  </div>
  
  
  
  <br>
  <div class="input">
    <input type="submit" value ="Login" (click)="LoginUser()">
  </div>
  <br>
  <h2>Whole Design Studios</h2>
  <br>
  <div class="input">
      <label>Email Us</label> 
      <input type="mail" name =  "mail">
    </div>
    <br>
    <div class="input">
        <label>Call Us</label> 
        <input type="number" name =  "number">
      </div>
      
      <h4>Connect With Us</h4>
      <hr>
      <br>
      <div class="input">
          <label>Name</label> 
          <input type="text" name =  "text">
        </div>
        <br>
        <div class="input">
            <label>Email</label> 
            <input type="email" name =  "email">
            <br>
          </div>
          <br>
          <button>submit</button>
            
        
          </form>
        
  


  
  